<!-- grid -->
<div class="line">
<div class="mod shadow">
<div class="inner">
<div class="bd">

    <h2>Grid system for all FINN pages</h2>

<hr>
<details>
    <summary class="r-margin clickable h3 normal">line</summary>
    <pre><code>{{{example-1}}}</code></pre>
</details>
<p>Groups units on one horizontal line. Note: for mobile layout units may be stacked to avoid horizontal scrolling.</p>
<hr>

<details>
    <summary class="r-margin clickable h3 normal">unit</summary>
    <pre><code>{{{example-2}}}</code></pre>
</details>
<p>Base class which divides a line into sections (columns).</p>
<hr>

<details>
    <summary class="r-margin clickable h3 normal">r-sizeXofY</summary>
    <pre><code>{{{example-3-1}}}</code></pre>
</details>
<p>Extends <code>unit</code>. Indicates the number of grid units this element spans, for example <code>r-size2of3</code>
    would take up 2 of 3 columns. Collapses to 1 column at 768px.</p>

<p class="strong">Intended use: Main layout grid!</p>
<hr>

<details>
    <summary class="r-margin clickable h3 normal">sizeXofY</summary>
    <pre><code>{{{example-3-2}}}</code></pre>

    <p>Supported fractions:</p>
    <ul class="bullets pll">
        <li>1</li>
        <li>1/2</li>
        <li>1/3</li>
        <li>2/3</li>
        <li>1/4</li>
        <li>3/4</li>
        <li>1/5</li>
        <li>2/5</li>
        <li>3/5</li>
        <li>4/5</li>
        <li>1/6</li>
        <li>5/6</li>
    </ul>
</details>
<p>Extends <code>unit</code>. Indicates the fractional width of the unit, for example <code>size3of4</code> would take
    up three quarters, or 75%, of the horizontal space.</p>
<p class="strong">
    Intended use: Non-responsive liquid elements
</p>
<hr>

<details>
    <summary class="r-margin clickable h3 normal">r-colsXtoY</summary>
    <pre><code>{{{example-4}}}</code></pre>
    <pre><code>{{{example-5}}}</code></pre>

    <p>
        <code>
            <a href="#" id="r-cols1to2" class="mrl cols strong bg-lt-gray">.r-cols1to2</a>
            <a href="#" id="r-cols1to3" class="mrl cols">.r-cols1to3</a>
            <a href="#" id="r-cols1to4" class="mrl cols">.r-cols1to4</a>
            <a href="#" id="r-cols2to3" class="mrl cols">.r-cols2to3</a>
            <a href="#" id="r-cols2to4" class="mrl cols">.r-cols2to4</a>
            <a href="#" id="r-cols2to5" class="mrl cols">.r-cols2to5</a>
            <a href="#" id="r-cols2to6" class="mrl cols">.r-cols2to6</a>
        </code>
    </p>

    <div class="mal gridexample">
        <form>
            <div class="line r-cols1to2" id="cols">
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Akershus</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Aust-Agder</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Buskerud</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Finnmark</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Hedmark</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Hordaland</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Møre og Romsdal</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Nord-Trøndelag</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Nordland</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Oppland</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Oslo</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Rogaland</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Sogn og Fjordane</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Sør-Trøndelag</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Telemark</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Troms</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Vest-Agder</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Vestfold</span>
                    </label>
                </div>
                <div class="unit formelement man">
                    <label>
                        <input type="checkbox">
                        <span>Østfold</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
</details>

<p>Extends <code>line</code>. Responsive column setup for content. Classname indicates number of colums, for example
    <code>r-cols2to4</code> will fit 2 columns on mobile screens and 4 columns from 768px and up.</p>

<p class="strong">Intended use: Column based contents</p>
<!-- ** -->
<hr>

<details>
    <summary class="r-margin clickable h3 normal">colsXupto[Breakpoint]</summary>
    <pre><code>{{{example-6}}}</code></pre>
    <p>Supported column count: 1 - 8</p>
    <p>Supported breakpoints:</p>
    <ul class="bullets pll">
        <li>480</li>
        <li>640</li>
        <li>768</li>
        <li>990</li>
    </ul>
</details>

<p>Extends <code>line</code>.
<p><code>.cols[X]upto[breakpoint]</code> Sets number of columns up to specified breakpoint</p>
<p><code>.cols[X]from990</code> Sets number of columns from 990 and up</p>

<p>Classname indicates number of colums at specific breakpoints, for example
    <code>.cols1upto480 .cols2upto768 .cols4from990</code> will fit 1 column below 480px, 2 columns between 480px and 767px, and 4 columns from 990px to infinity</p>
    <p class="red">! Works in conjunction with colsXfrom990, remember to set this aswell, or 990px+ will get whatever is default (usually 1col )</p>

<p class="strong">Intended use: Column based contents where we need more control</p>
<!-- ** -->

</div>
</div>
</div>
</div>

<style type="text/css">
    .gridexample .r-cols1to2 {background: #D2E286;}
    .gridexample .r-cols1to3 {background: #eee;}
    .gridexample .r-cols1to4 {background: #def;}
    .gridexample .r-cols2to3 {background: #f60;}
    .gridexample .r-cols2to4 {background: #ff9;}
    .gridexample .r-cols2to5 {background: #ccc;}
    .gridexample .r-cols2to6 {background: #f3ddad;}
</style>

<div class="line">
    <div class="mod shadow">
        <div class="inner">
            <div class="bd">
                <h2>Responsive helpers</h2>

                <p class="mal">
                    <strong>lt</strong> = less than<br>
                    <strong>ht</strong> = higher than
                </p>

                <h2>Text alignment</h2>

                <div class="r-margin">
                    <table>
                        <tr>
                            <td><code>.leftify-ht768</code></td>
                            <td>Adjust left <strong>over</strong> 768px</td>
                        </tr>
                        <tr>
                            <td><code>.leftify-lt768</code></td>
                            <td>Adjust left <strong>under</strong> 768px</td>
                        </tr>
                        <tr>
                            <td><code>.rightify-ht768</code></td>
                            <td>Adjust right <strong>over</strong> 768px</td>
                        </tr>
                        <tr>
                            <td><code>.rightify-lt768</code></td>
                            <td>Adjust right <strong>under</strong> 768px</td>
                        </tr>
                    </table>
                </div>

                <h2>Floating</h2>

                <div class="r-margin">
                    <table>
                        <tr>
                            <td><code>.fleft-ht768</code></td>
                            <td>Float left <strong>over</strong> 768px</td>
                        </tr>
                        <tr>
                            <td><code>.fleft-lt768</code></td>
                            <td>Float left <strong>under</strong> 768px</td>
                        </tr>
                        <tr>
                            <td><code>.fright-ht768</code></td>
                            <td>Float right <strong>over</strong> 768px</td>
                        </tr>
                        <tr>
                            <td><code>.fright-lt768</code></td>
                            <td>Float right <strong>under</strong> 768px</td>
                        </tr>
                    </table>
                </div>

                <h2>Show/hide</h2>

                <div class="r-margin">
                    <table>
                        <thead>
                        <tr>
                            <th>480px</th>
                            <th>600px</th>
                            <th>768px</th>
                            <th>900px</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>
                                <code>.hide-lt480</code><br>
                                <code>.hide-ht480</code>
                            </td>
                            <td>
                                <code>.hide-lt600</code><br>
                                <code>.hide-ht600</code>
                            </td>
                            <td>
                                <code>.hide-lt768</code><br>
                                <code>.hide-ht768</code>
                            </td>
                            <td>
                                <code>.hide-lt900</code><br>
                                <code>.hide-ht900</code>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
