<!-- media -->
<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <h2>Media</h2>
            <p>Works excellent for anything that involves positioning a block of image, or whatever to the left and/or right of a content block.</p>
            <p>Any content in the body including nesting other media blocks.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Standard media block</summary>
                <pre><code>{{{example-1}}}</code></pre>
            </details>
            {{{example-1-plain}}}

            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Nested media blocks</summary>
                <pre><code>{{{example-2}}}</code></pre>
            </details>
            {{{example-2-plain}}}

            <hr/>

            <details>
                <summary class="r-margin clickable h3 normal">Right-aligned image</summary>
                <pre><code>{{{example-3}}}</code></pre>
            </details>
            {{{example-3-plain}}}

        </div>
    </div>
</div>
