<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <p>Width (in percentages) is added with <code>.stars</code> to determine number of stars.</p>
            <hr>

            <div class="mbl">
              <h5 class="mbn">Small stars</h5>
              <pre class="mtn"><code>{{{example-1}}}</code></pre>
              <p>
                  <span class="rating-stars small-stars">
                      <span class="stars" style="width: 80%;"></span>
                  </span>
              </p>
              <p>
                  <span class="rating-stars small-stars">
                      <span class="stars" style="width: 20%;"></span>
                  </span>
              </p>
              <p>
                  <span class="rating-stars small-stars">
                      <span class="stars" style="width: 50%;"></span>
                  </span>
              </p>
            </div>

            <div class="mbl">
                <h5 class="mbn">Regular stars</h5>
                <pre class="mtn"><code>{{{example-2}}}</code></pre>
                <p>
                <span class="rating-stars">
                    <span class="stars" style="width: 80%;"></span>
                </span>
                </p>
                <p>
                <span class="rating-stars">
                    <span class="stars" style="width: 20%;"></span>
                </span>
                </p>
                <p>
                <span class="rating-stars">
                    <span class="stars" style="width: 50%;"></span>
                </span>
                </p>
            </div>

            <div class="mbl">
                <h5 class="mbn">Medium stars</h5>
                <pre class="mtn"><code>{{{example-3}}}</code></pre>
                <p>
                <span class="rating-stars medium-stars">
                    <span class="stars" style="width: 80%;"></span>
                </span>
                </p>
                <p>
                <span class="rating-stars medium-stars">
                    <span class="stars" style="width: 20%;"></span>
                </span>
                </p>
                <p>
                <span class="rating-stars medium-stars">
                    <span class="stars" style="width: 50%;"></span>
                </span>
                </p>
            </div>

            <div class="mbl">
                <h5 class="mbn">Large stars</h5>
                <pre class="mtn"><code>{{{example-4}}}</code></pre>
                <p>
                    <span class="rating-stars large-stars">
                        <span class="stars" style="width: 80%;"></span>
                    </span>
                </p>
                <p>
                    <span class="rating-stars large-stars">
                        <span class="stars" style="width: 20%;"></span>
                    </span>
                </p>
                <p>
                    <span class="rating-stars large-stars">
                        <span class="stars" style="width: 50%;"></span>
                    </span>
                </p>

            </div>


            <h5 class="mbn">Set rating</h5>
            <pre class="mtn"><code>{{{example-5}}}</code></pre>
            <div class="r-margin">
                <span class="star-rating">
                    <input type="radio" name="rating" value="1" id="star1"><label for="star1">1 stjerne</label>
                    <input type="radio" name="rating" value="2" id="star2"><label for="star2">2 stjerner</label>
                    <input type="radio" name="rating" value="3" id="star3"><label for="star3">3 stjerner</label>
                    <input type="radio" name="rating" value="4" id="star4"><label for="star4">4 stjerner</label>
                    <input type="radio" name="rating" value="5" id="star5"><label for="star5">5 stjerner</label>
                </span>
            </div>
        </div>
    </div>
</div>
