<div class="mbxxl">

<h5>Backgrounds</h5>

<ul class="horizontal-list">
    <li>
        <a href="#" class="set-profile" id="profilebg-blue">
            <img src="dist/img/profiles/profile-bg-blue.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-green">
            <img src="dist/img/profiles/profile-bg-green.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-greendk">
            <img src="dist/img/profiles/profile-bg-greendk.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-indigo">
            <img src="dist/img/profiles/profile-bg-indigo.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-orange">
            <img src="dist/img/profiles/profile-bg-orange.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-peach">
            <img src="dist/img/profiles/profile-bg-peach.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-pink">
            <img src="dist/img/profiles/profile-bg-pink.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-purple">
            <img src="dist/img/profiles/profile-bg-purple.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
</ul>


<details>
    <summary class="r-margin clickable h5">Large profile</summary>
    <pre><code>{{{large-profile}}}</code></pre>
</details>
<div class="r-margin">
{{{large-profile-plain}}}
</div>

<details>
    <summary class="r-margin clickable h5">Medium profile</summary>
    <pre><code>{{{medium-profile}}}</code></pre>
</details>
<div class="r-margin">
    <div class="line">
        <div class="unit r-size1of3">
            {{{medium-profile-plain}}}
        </div>
    </div>
</div>

<details>
    <summary class="r-margin clickable h5">Small profile</summary>
    <pre><code>{{{small-profile}}}</code></pre>
</details>
<div class="r-margin">
    <div class="line">
        <div class="unit r-size1of3">
            {{{small-profile-plain}}}
        </div>
    </div>
</div>

<details>
    <summary class="r-margin clickable h5">Verified profile images</summary>
    <pre><code>{{{example-1}}}</code></pre>
</details>

<div class="mod">
    <div class="inner">
        <div class="bd">
            <div class="line r-margin">
                {{{example-1-plain}}}
            </div>
        </div>
    </div>
</div>

<div class="mod">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h5">Company profile</summary>
                <pre><code>{{{example-2}}}</code></pre>
            </details>
        </div>
    </div>
</div>

<div class="line">
    <div class="unit r-size1of3">
        <div class="mod">
            <div class="inner">
                <div class="bd">
                    {{{example-2-plain}}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mod mtl">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h5">Company profile header</summary>
                <pre><code>{{{example-3}}}</code></pre>
            </details>
            <!--<p>When viewing your own profile, replace Follow button with Edit button</p>-->
        </div>
    </div>
</div>
<div class="r-margin">
    <div class="mod mbl profile companyprofile">
        <div class="inner pvn">
            {{{example-3-plain}}}
        </div>
    </div>
</div>
</div>
