<!DOCTYPE html>
<html lang="no" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="./dist/spaden.min.css?sha={{sha}}">
    <link rel="stylesheet" href="./style.css?sha={{sha}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
</head>
<body>
    <svg style="display: none;">
        {{{icons}}}
    </svg>
{{{content}}}
<script src="./docs.js?sha={{sha}}"></script>
</body>
</html>
