   <!--
<div class="container">
    <div class="page">
     <h1>{{data.title}}</h1>-->
        {{#each data.files}}
            {{^requested}}
                <small class="hidden"><a href="#{{ref}}" id="{{ref}}">#</a> {{name}}</small>
                {{{rendered}}}

                {{^rendered}}
                    <pre><code>{{content}}</code></pre>
                {{/rendered}}
            {{/requested}}
        {{/each}}

        <div id="grid-overlay" class="grid-overlay">
            <ul><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li></ul>
        </div>
        <!--
    </div>
</div>

-->

<div id="grid-overlay" class="grid-overlay">
    <ul><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li></ul>
</div>